<div>
    <h1>Submitted Info:</h1>
    <h4>Name: @TempData["Name"]</h4>
    <h4>Dojo Location: @TempData["Location"]</h4>
    <h4>Favorite Language: @TempData["Language"]</h4>
    <h4>Comment: @TempData["Comment"]</h4>

    <a href="/">Home</a>
</div>